<button type="button" class="btn new" *ngIf="!steam" (click)="windowHandler()">Fazer login!</button>

<section class="steam" [ngClass]="{ minimize: minimize }" *ngIf="steam">
  <div class="tab">
    <p>Iniciar sessão no Steam </p>
    <div class="actions">
      <button id="minimize" type="button" (click)="minimizeHandler()">{{ minimize ? '+' : '_' }}</button>
      <button id="close" type="button" (click)="windowHandler()">X</button>
    </div>
  </div>
  <div class="content">
    <ng-content></ng-content>
  </div>
</section>
